@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-image {
  margin-right: 3px;
  img {
    width: 42px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
  .content {
    display: flex;
    align-items: center;
  }
}
