@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

.gh-image {
  margin-right: 3px;
  img {
    width: 43px;
  }
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
  .content {
    display: flex;
    align-items: center;
  }
}

input:focus:invalid {
  border: 2px solid #ff2323;
}

.load-username {
  margin-block-end: 0;
}

.profile-container {
  @media (min-width: 1280px) {
    flex: none;
    width: 30%;
  }
}
